
header {
    text-align: center;
    margin-top: 20px;
}
nav {
    margin-top: 20px;
    height: 40px;
    padding: 30px;
    border-top: 2px solid orange;
    background-color: rgb(248, 243, 231);
}
nav p, nav strong  {
    color: rgb(15, 99, 114);
}
main {
    width: 1000px;
    margin: 0 auto;
}
figure {
    margin: 0;
}
figure img {
   width: 100%;
    
}
article {
    margin-top: 80px;
}
article p {
    margin-top: 40px;
}
figure img {
    margin-top: 20px;
    border-radius: 15px;
}
figcaption {
    margin-top: 20px;
    color: rgb(143, 141, 141);
}
aside {
    border-left: 2px solid orange;
}
aside p, a {
    margin-left: 10px;
}
aside p {
    color: rgb(156, 106, 13);
    font-weight: bold;
}
aside a {
    color: rgb(73, 115, 194);
}
section{
    margin-top: 80px
}
section h3 {
    margin-top: 40px;
}
section ul {
    margin-top: 10px;
}
.metodo {
    margin-top: 30px;
}
.metodo ol {
    margin-top: 40px;
    margin-bottom: 20px;
}
.metodo ol li{
    margin-bottom: 15px;
    font-weight: bold;
}
.metodo a {
    color: rgb(73, 115, 194);
}
h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 3em;
    text-align: center;
}
h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
}
p, li, a, figcaption {
    font-family: 'Ubuntu', sans-serif;
}
h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.4em;
    font-weight: bold;
}